  body {
    background-color: #3d3d3d;
    color: #bbb;
    font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  }

	canvas {
	  display: block;
	  /*outline: 0px;*/
	  margin-left: auto;
	  margin-right: auto;
	}
	table {
	  text-align: left;
	  margin-left: auto;
	  margin-right: auto;
	}
	input[type="number"] {
	  width: 40px;
	}

  input[type="submit"] {
    font-size: 1.2em;
    border: none;
  }

  .inputs {
    margin: 0 auto;
    width: 400px;
  }

  .button {
    padding: 15px 0;
    text-align: center;
	}

  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  .description {
    width: 800px;
    text-align: center;
    margin: 0 auto;
  }

  .extra-form {
    text-align: center;
  }

  .show-link-div {
    text-align: center;
    padding: 20px;
  }

  .show-link-a {
    color: #bbb;
  }

	.slider90 {
	  width: 225px;
	  display: inline-block;
	  /*_display: inline;*/
	  margin-left: 10px;
	  margin-right: 10px;
	}
  .slider60 {
	  width: 150px;
	  display: inline-block;
	  /*_display: inline;*/
	  margin-left: 10px;
	  margin-right: 10px;
	}

  .slider150 {
    width: 375px;
    display: inline-block;
    /*_display: inline;*/
    margin-left: 10px;
    margin-right: 10px;
  }
