<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Tekuteku</title>
  <link rel="stylesheet" href="./css/jquery-ui.css" />
  <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
  <h2>ご協力ありがとうございました！</h2>
  <p>以上で実験は終了となります。</p>
  <p>お手元のアンケート用紙にご記入ください。</p>
</body>
</html>
